<%= simple_form_for @flight, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :aircraft, label_method: lambda{ |aircraft| "ID: #{aircraft.id} | TYPE: #{aircraft.aircraft_type}"} %>
  <%= f.association :origin %>
  <%= f.association :destination %>
  <%= f.input :departure %>
  <%= f.input :arrival %>
  <%= f.association :cargos, label_method: lambda {|cargo| "#{cargo.id} | #{cargo.contents}"} %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                flights_path, :class => 'btn' %>
  </div>
<% end %>
