<div class="page-header">
  <h1><%=t '.title', :default => "Aiport: #{@airport.title}" %></h1>
</div>

<%= render partial: 'flightstable', locals: {flights: @airport.arrivals, title: 'Arrivals'}  %>

<%= render partial: 'flightstable', locals: {flights: @airport.departures, title: 'Departures'}  %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              airports_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_airport_path(@airport), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              airport_path(@airport),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
